.me {
    padding-left: 25%;
    padding-right: 25%;
}
.bo {
    font-size: 15px;
}
.chala {
    color: #319494;
}
.raaw {
    background-color: #F5EEF4;
    
}
.Help {
    font-size: 36px;
    color: #808080;
}
.lol {
    margin-left: 10%;
    margin-right: 10%;
}
.LOL {
    margin-left: 5%;
    margin-right: 5%;
}
.Nati {
    width: 75%;
}